/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 100px !important

.author-avatar
  max-width 100px !important

@require '~vuepress-plugin-tabs/dist/themes/default.styl'

.tabs-component
  max-width 600px
  margin auto
  @media only screen and (max-width: 768px)
    max-width 80%

.tabs-component-tabs
  @media only screen and (max-width: 768px)
    display none

.tabs-component-panels
  padding 0
  border 0

.tabs-component-panels
  padding 0

.tabs-component-tab
  border solid 1px #fff

.home
  max-width unset !important
  padding: 3.6rem 0 0 0 !important

.features
  max-width 960px !important
  margin auto !important

.hero
  padding-left 1.5rem
  padding-right 1.5rem

.generic-block
  padding 3rem 1rem
  @media only screen and (max-width: 768px)
    padding 1rem 1rem
  margin auto
  h3
    padding 0
    margin 0
    font-size 2.25rem
    @media only screen and (max-width: 768px)
      font-size unset
  .mid
    max-width 1366px
    margin auto
    display flex
    align-items center
    justify-content space-between
    @media only screen and (max-width: 768px)
      flex-direction column !important
  .left
    width 45%
    @media only screen and (max-width: 768px)
      width unset
  .right
    width 45%
    @media only screen and (max-width: 768px)
      width unset
  &.faint
    background #f5f7f9
    border 1px solid #e6ecf1
  &.reverse
    .mid
      flex-direction row-reverse
    .left
      text-align left
    .right
      text-align right
    @media only screen and (max-width: 768px)
      .mid
        flex-direction row-reverse
      .left
        text-align left
      .right
        text-align left
